@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bookman Old Style', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #ded0d0, #010b15);
}

.calculator{
    border: 2px solid #01040c;
    padding: 20px;
    border-radius: 1px;
    justify-content: center;
    align-items: center;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(43, 94, 194, 1);

}
h1 { color: #ffffff; }

input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: black;
    box-shadow: 0px 3px 15px rgbs(84, 84, 84, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #fcfcfc;
}

input::placeholder{
    color: #ffffff;
}

button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background:  #280d0d;
    color: #ffffff;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.equalBtn{
    background-color: #fb7c14;
}

.operator{
    color: #ffffff;
    
}
.operator-n{
    color: #000000ef;
    background-color: #110101;
}


footer {
    position: absolute;
    bottom: 3px;;
    background-color: transparent;
} 

p.copyright {
    position: absolute;
    width: 100%;
    color: #fff;
    line-height: 20px;
    font-size: 0.7em;
    text-align: center;
    bottom: 2px;
    }
